@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

:root {
    --primary-color: #F90606;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

body {
    background-color: black;
}


.header-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100px;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

header nav .logo {
    position: relative;
    max-width: 80px;
    border-radius: 50%;
}

.logo:hover {
    border: 5px solid var(--primary-color);
}

header nav ul {
    position: relative;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 750;
    margin-left: 40px;
    font-size: 2.5em;
}

header nav ul li a:hover {
    color: #808080;
}

/* hero content */

.page-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #fff; */
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 5em; */
}

.content .subheader {
    position: relative;
    max-width: 600px;
}

.content .subheader h1 {
    font-size: 3em;
    line-height: 1.4em;
    font-family: 'Calligraffitti', cursive;
}

.content .subheader h1 span {
    color: var(--primary-color);
    font-family: 'Calligraffitti', cursive;
}

.content .subheader p {
    font-size: 1.4em;
}

.content .subheader a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--primary-color);
    color: white;
    border-radius: 50px;   
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.5em;
}

.content .hero-box  {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

}

.content .hero-img {
    height: 500px;
    width: 700px;
}

.thumbnails {
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    display: flex;
}

.thumbnails li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumbnails li:hover {
    transform: translateY(-15%);
}

.thumbnails img {
    height: 100px;
    width: 100px;
}

/* footer */
.footer-column {
    float: left;
    width: 33.33%;
}

.footer-section:after {
    content: "";
    display: table;
    clear: both;
}

.footer-section {
    display: inline-block;
    margin-top: 100px;
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

/* google map embed */

.google-map {
    /* display: inline-block; */
    float: left;
}

.google-map iframe {
    width: 400px;
    height: 300px;
    margin-top: 25px;
    /* margin-right: 160px; */
}

.google-map p {
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.google-map p span {
    color: var(--primary-color);
    font-size: 1.75em;
    font-weight: 500;
}

/* contact form */


.contact-form {
    float: right;
}

.contact-form h2 {
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: 1000;
    display: inline-block;
    letter-spacing: 1.5px;
}

.contact-form form label {
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    display: block;
    letter-spacing: 1.5px;
}

.contact-form form input {
    color: black;
    font-size: 1.2em;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

input, textarea  {
    width: 100%;
    padding: .5em;
    border-radius: .3em;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-form .send-message {
    background-color: var(--primary-color);
    font-size: 1.25em;
    display: inline-block;
    font-weight: bold;
    border: none;
    border-radius: 5em;
    width: unset;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}

/* links */

.footer-links {
    float: right;
}

.footer-links ul li {
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.footer-links ul h2 {
    font-size: 2.5em;
    color: var(--primary-color);
    font-weight: 1000;
    letter-spacing: 1.5px;
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 1.75em;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.sm-links {
    float:left;
    display: block;
    margin-top: -120px;
}
.social-media {
    margin-top: 7.5em;
}

/* Style all font awesome icons */

/* old fontawesome css */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #808080;
}

.fa:hover {
    opacity: 0.7;
}

/* old fontawesome css */

a {
    text-decoration: none;
}

i {
    padding: 7px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #808080;
}

i:hover {
    color: red;
}

